<% layout('./layouts/boilerplate') %>

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" style="background-color: rgb(244, 235, 231);">
        <!-- Hero -->
        <div class=" d-lg-flex position-relative" style="background:linear-gradient(0deg, rgba(70, 54, 30, 0.5), rgba(70, 54, 30, 0.5)), url(/assets/img/home/palo-alto-105181_1920.jpg);
        object-fit: cover; background-repeat: no-repeat; background-size: cover; background-position: center center; height: 100vh
          ">
            <div class="container d-lg-flex align-items-lg-center content-space-t-3 content-space-lg-0 min-vh-lg-100">
                <!-- Heading -->
                <div class="w-100">
                    <div class="row">




                        <div class="col-lg-5">
                            <div class="mb-5">
                                <h1 class="display-4 mb-3 text-white">
                                    At Counsia


                                    <span class="text-white text-highlight-warning">
                                        <span class="js-typedjs" data-hs-typed-options='{
                            "strings": ["Meet Students At Your Dream School.", "Read Winning Essays.", "Read Successful Profiles."],
                            "typeSpeed": 70,
                            "loop": true,
                            "backSpeed": 30,
                            "backDelay": 1400
                          }'></span>
                                    </span>
                                </h1>

                                <p class="lead text-white">Unlock Your College Potential with Counsia. Get
                                    Expert Guidance and Make Real Connections</p>
                            </div>

                            <div class="d-grid d-sm-flex gap-3">
                                <a class="btn btn-primary btn-transition px-6" href="/meeting/all">Book Now</a>
                                <a class="btn btn-link text-white" href="/counselor/apply">Be A Mentor <i
                                        class="bi-chevron-right small ms-1"></i></a>
                            </div>
                        </div>




                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Title & Description -->


                <!-- End SVG Shape -->
            </div>
        </div>
        <!-- End Hero -->


        <!-- Card Grid -->
        <!-- Card Grid Mentors-->
        <div class="container content-space-sm-2 mt-3 mt-md-0">
            <!-- Title -->
            <div class="w-md-75 text-center mx-md-auto mb-5">
                <h2>Featured Mentors</h2>
                <p>Find the perfect mentor at your dream school.</p>
            </div>
            <!-- End Title -->

            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mb-3">
                <div class="col mb-5">
                    <!-- Card -->
                    <div class="card card-bordered h-100">
                        <!-- Card Pinned -->
                        <div class="card-pinned">
                            <img class="card-img-top" src="https://college-connect-profile-pictures.s3.amazonaws.com/1697602230762_profile_picture_anyabibbs1_IMG_6936.JPG" alt="Image Description">

                            <div class="card-pinned-top-start">
                                <small class="badge bg-success rounded-pill">Featured</small>
                            </div>

                            <div class="card-pinned-bottom-start">
                                <div class="d-flex align-items-center flex-wrap">
                                    <!-- Rating -->
                                    <div class="d-flex gap-1">
                                        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                    </div>
                                    <!-- End Rating -->
                                    <div class="ms-1">
                                        <span class="fw-semibold text-white me-1">4.88</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Pinned -->

                        <!-- Card Body -->
                        <div class="card-body">
                            <a class="avatar avatar avatar-circle" data-toggle="tooltip" data-placement="top" title="Harvard" href="#">
                                <img class="avatar-img" src="/assets/img/Colleges/Yale_University.png" alt="Image Description">
                            </a>

                            <div class="mb-3">
                                <h3 class="card-title">
                                    <a class="text-dark"  href="/counselor/popular">Anya Bibbs</a> 
                                       
                                    
                                  
                                    


                                    
            
                                </h3>
                            </div>
                            <div class="row align-items-center">
                               
                                <!-- End Col -->

                                <div class="col-auto">
                                    <ul class="list-inline list-separator small ms-auto">
                                        <li class="list-inline-item">
                                            <i class="bi-book me-1"></i> Available Sessions
                                        </li>
                                        <li class="list-inline-item">
                                            Yale
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                            Economics

                        </div>
                        <!-- End Card Body -->


                        <!-- Card Footer -->
                        <div class="card-footer pt-0">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="me-2">
                                    <span class="d-block text-muted small"><del>$69.99</del></span>
                                    <h5 class="card-title">$59.99</h5>
                                </div>
                                <a class="btn btn-primary btn-sm btn-transition"
                                    href="/counselor/652f5b46af4187220ed1c858">Read Application</a>
                            </div>
                        </div>
                        <!-- End Card Footer -->
                    </div>
                    <!-- End Card -->
                </div>
                <!-- End Col -->

                <div class="col mb-5">
                    <!-- Card -->
                    <div class="card card-bordered h-100">
                        <!-- Card Pinned -->
                        <div class="card-pinned">
                            <img class="card-img-top" src="https://college-connect-profile-pictures.s3.amazonaws.com/1697773157642_profile_picture_lorenzogalang_headshot_semiformal_square.JPG" alt="Image Description">

                            <div class="card-pinned-top-start">
                                <small class="badge bg-success rounded-pill">Featured</small>
                            </div>

                            <div class="card-pinned-bottom-start">
                                <div class="d-flex align-items-center flex-wrap">
                                    <!-- Rating -->
                                    <div class="d-flex gap-1">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                    </div>
                                    <!-- End Rating -->
                                    <div class="ms-1">
                                        <span class="fw-semibold text-white me-1">4.91</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Pinned -->

                        <!-- Card Body -->
                        <div class="card-body">
                            <small class="card-subtitle"><a class="avatar avatar avatar-circle" data-toggle="tooltip" data-placement="top" title="Harvard" href="#">
                                <img class="avatar-img" src="/assets/img/Colleges/University_of_Pennsylvania.png" alt="Image Description">
                            </a></small>

                            <div class="mb-3">
                                <h3 class="card-title">
                                    <a class="text-dark" href="/counselor/popular">Lorenzo Galang</a>
                                </h3>
                            </div>
                            <div class="row align-items-center">
                              
                                <!-- End Col -->

                                <div class="col-auto">
                                    <ul class="list-inline list-separator small ms-auto">
                                        <li class="list-inline-item">
                                            <i class="bi-book me-1"></i> Available Sessions
                                        </li>
                                        <li class="list-inline-item">
                                            UPenn
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                            Chemical Engineering and Biophysics

                        </div>
                        <!-- End Card Body -->


                        <!-- Card Footer -->
                        <div class="card-footer pt-0">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="me-2">
                                    <span class="d-block text-muted small"><del>$69.99</del></span>
                                    <h5 class="card-title">$59.99</h5>
                                </div>
                                <a class="btn btn-primary btn-sm btn-transition" href="/counselor/6531a47c51cc50ddc1577729">Read Application</a>
                            </div>
                        </div>
                        <!-- End Card Footer -->
                    </div>
                    <!-- End Card -->
                </div>
                <!-- End Col -->

                <div class="col mb-5">
                    <!-- Card -->
                    <div class="card card-bordered h-100">
                        <!-- Card Pinned -->
                        <div class="card-pinned">
                            <img class="card-img-top" src="https://college-connect-profile-pictures.s3.amazonaws.com/1697501355268_profile_picture_alexiavayeos_tempImage97Dwc7.gif" alt="Image Description">

                            <div class="card-pinned-top-start">
                                <small class="badge bg-success rounded-pill">Featured</small>
                            </div>

                            <div class="card-pinned-bottom-start">
                                <div class="d-flex align-items-center flex-wrap">
                                    <!-- Rating -->
                                    <div class="d-flex gap-1">
                                        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        <img src="/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                    </div>
                                    <!-- End Rating -->
                                    <div class="ms-1">
                                        <span class="fw-semibold text-white me-1">4.93</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Pinned -->

                        <!-- Card Body -->
                        <div class="card-body">
                        <small class="card-subtitle"><a class="avatar avatar avatar-circle" data-toggle="tooltip" data-placement="top"
                                title="Harvard" href="#">
                                <img class="avatar-img" src="/assets/img/Colleges/Columbia_University.png" alt="Image Description">
                            </a></small>

                            <div class="mb-3">
                                <h3 class="card-title">
                                    <a class="text-dark" href="/counselor/popular">Alexis Vayeos</a>
                                </h3>
                            </div>
                            <div class="row align-items-center">
                                

                                <div class="col-auto">
                                    <ul class="list-inline list-separator small ms-auto">
                                        <li class="list-inline-item">
                                            <i class="bi-book me-1"></i> Available Sessions
                                        </li>
                                        <li class="list-inline-item">
                                            Columbia &nbsp;&nbsp;&nbsp;&nbsp;
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                            History, Psychology

                        </div>
                        <!-- End Card Body -->


                        <!-- Card Footer -->
                        <div class="card-footer pt-0">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="me-2">
                                    <span class="d-block text-muted small"><del>$69.99</del></span>
                                    <h5 class="card-title">$59.99</h5>
                                </div>
                                <a class="btn btn-primary btn-sm btn-transition" href="/counselor/652dcf0f4567a128831db40c">Read Application</a>
                            </div>
                        </div>
                        <!-- End Card Footer -->
                    </div>
                    <!-- End Card -->
                </div>
                <!-- End Col -->


                <!-- End Col -->


            </div>

            <!-- End Card -->
        </div>
        <!-- End Col -->


        <!-- End Col -->
        <!-- End Row -->

        <div class="text-center mt-n6 pt-n9">
            <a class="btn btn-link" href="/counselor/search">See all mentors <i
                    class="bi-chevron-right small ms-1"></i></a>
        </div>
        </div>
        <!-- End Card Grid -->


        <!-- End Card Grid -->


        <!-- Clients -->
        <div class="container content-space-2 content-space-b-lg-3">
            <!-- Heading -->
            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-6">
                <h2>We help students like you end up in prestigious institutions.</h2>
            </div>
            <!-- End Heading -->

            <div class="row justify-content-center text-center">
                <div class="col-4 col-sm-3 col-md-2 py-3">
                    <img class="avatar avatar-lg avatar-4x3 avatar-centered"
                        src="/assets/img/others/harvard-dark-logo.png" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col-4 col-sm-3 col-md-2 py-3">
                    <img class="avatar avatar-lg avatar-4x3 avatar-centered"
                        src="/assets/img/others/stanford-dark-logo.png" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col-4 col-sm-3 col-md-2 py-3">
                    <img class="avatar avatar-lg avatar-4x3 avatar-centered"
                        src="/assets/img/others/upenn-dark-logo.png" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col-4 col-sm-3 col-md-2 py-3">
                    <img class="avatar avatar-lg avatar-4x3 avatar-centered"
                        src="/assets/img/others/berkeley-dark-logo.png" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col-4 col-sm-3 col-md-2 py-3">
                    <img class="avatar avatar-lg avatar-4x3 avatar-centered" src="/assets/img/others/cmu-logo.png"
                        alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col-4 col-sm-3 col-md-2 py-3">
                    <img class="avatar avatar-lg avatar-4x3 avatar-centered" src="/assets/img/others/princeton-logo.png"
                        alt="Logo">
                </div>



                <div class="row justify-content-center text-center">
                    <div class="col-4 col-sm-3 col-md-2 py-3">
                        <img class="avatar avatar-lg avatar-4x3 avatar-centered" src="/assets/img/others/gt-logo.png"
                            alt="Logo">
                    </div>
                    <!-- End Col -->

                    <div class="col-4 col-sm-3 col-md-2 py-3">
                        <img class="avatar avatar-lg avatar-4x3 avatar-centered" src="/assets/img/others/yale-logo.png"
                            alt="Logo">
                    </div>
                    <!-- End Col -->

                    <div class="col-4 col-sm-3 col-md-2 py-3">
                        <img class="avatar avatar-lg avatar-4x3 avatar-centered" src="/assets/img/others/uva-logo.png"
                            alt="Logo">
                    </div>
                    <!-- End Col -->

                    <div class="col-4 col-sm-3 col-md-2 py-3">
                        <img class="avatar avatar-lg avatar-4x3 avatar-centered"
                            src="/assets/img/others/cornell-logo.png" alt="Logo">
                    </div>
                    <!-- End Col -->

                    <div class="col-4 col-sm-3 col-md-2 py-3">
                        <img class="avatar avatar-lg avatar-4x3 avatar-centered"
                            src="/assets/img/others/dartmouth-logo.png" alt="Logo">
                    </div>
                    <!-- End Col -->


                    <!-- End Col -->


                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Clients -->








            <!-- Card Grid -->
            <div class="container content-space-2 content-space-t-xl-3 content-space-b-lg-3">
                <!-- Heading -->
                <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5">
                    <h2> Choose the mentor
                        whose experiences align with your goals, and book sessions at your convenience.
                    </h2>
                </div>
                <!-- End Heading -->

                <div class="text-center mb-10">
                    <!-- List Checked -->
                    <ul class="list-inline list-checked list-checked-primary">
                        <li class="list-inline-item list-checked-item">Explore mentors</li>
                        <li class="list-inline-item list-checked-item">Book sessions</li>
                        <li class="list-inline-item list-checked-item">Upgrade your application </li>
                    </ul>
                    <!-- End List Checked -->
                </div>

                <div class="row mb-5 mb-md-0">
                    <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                        <!-- Card -->
                        <div class="card card-sm h-100">
                            <div class="p-2">
                                <img class="card-img" src="/assets/img/480x220/img1.jpg" alt="Image Description">
                            </div>

                            <div class="card-body">
                                <h4 class="card-title">Mentor Search</h4>
                                <p class="card-text">Counsia makes it easy to search for mentors.</p>

                                <!-- List Pointer -->
                                <ul class="list-pointer mb-0">
                                    <li class="list-pointer-item">Search By Attending University</li>
                                    <li class="list-pointer-item">Search By Accepted Universities</li>
                                    <li class="list-pointer-item">Search By Name</li>
                                </ul>
                                <!-- End List Pointer -->
                            </div>

                            <a class="card-footer card-link border-top" href="/counselor/search">Learn more <i
                                    class="bi-chevron-right small ms-1"></i></a>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                        <!-- Card -->
                        <div class="card card-sm h-100">
                            <div class="p-2">
                                <img class="card-img" src="/assets/img/home/pexels-anna-shvets-4226262.png"
                                    alt="Image Description">
                            </div>

                            <div class="card-body">
                                <h4 class="card-title">Session Booking</h4>
                                <p class="card-text">Counsia offers an on-site booking system for mentors.</p>

                                <!-- List Pointer -->
                                <ul class="list-pointer mb-0">
                                    <li class="list-pointer-item">$59.99 Fixed Per Session Pricing</li>
                                    <li class="list-pointer-item">Book All On Site</li>
                                    <li class="list-pointer-item">Adds to Google Calendar</li>
                                </ul>
                                <!-- End List Pointer -->
                            </div>

                            <a class="card-footer card-link border-top" href="/counselor/search">Learn more <i
                                    class="bi-chevron-right small ms-1"></i></a>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-6 col-lg-4">
                        <!-- Card -->
                        <div class="card card-sm h-100">
                            <div class="p-2">
                                <img class="card-img" src="/assets/img/480x220/img3.jpg" alt="Image Description">
                            </div>

                            <div class="card-body">
                                <h4 class="card-title">Mentor Application</h4>
                                <p class="card-text">Apply to be a mentor on Counsia.</p>

                                <!-- List Pointer -->
                                <ul class="list-pointer mb-0">
                                    <li class="list-pointer-item">Make $50 an hour guaranteed.</li>
                                    <li class="list-pointer-item">Guide high schoolers through application journey.</li>
                                    <li class="list-pointer-item">Build your resume.</li>
                                </ul>
                                <!-- End List Pointer -->
                            </div>

                            <a class="card-footer card-link border-top" href="/counselor/apply">Learn more <i
                                    class="bi-chevron-right small ms-1"></i></a>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Card Grid -->

            <!-- Features -->
            <div class="position-relative  rounded-2 mx-3 mx-lg-10" style=" background-color: rgba(244, 235, 231,0.1);">
                <div class="container content-space-2 content-space-lg-3">
                    <!-- Heading -->
                    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5">
                        <h2>Why Choose Counsia?
                        </h2>
                        <p>How We Will Help You In Your College Journey</p>
                    </div>
                    <!-- End Heading -->



                    <div class="row">
                        <div class="col-lg-7 mb-9 mb-lg-0">
                            <div class="pe-lg-6">
                                <!-- Browser Device -->


                                <img class="device-browser-img"
                                    src="/assets/img/home/pexels-linkedin-sales-navigator-1251861.jpg"
                                    alt="Image Description">
                                <!-- End Browser Device -->
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="col-lg-5">
                            <!-- Heading -->
                            <div class="mb-4">
                                <h2>Your Path to Success Starts Here</h2>
                                <p> Connect with college students who have been through the process and can help you
                                    navigate the college admissions process.
                                </p>
                            </div>
                            <!-- End Heading -->

                            <!-- List Checked -->
                            <ul class="list-checked list-checked-primary mb-5">
                                <li class="list-checked-item">Personalized Guidance</li>
                                <li class="list-checked-item">Affordable and Accessible</li>
                                <li class="list-checked-item">Expert College Insights</li>
                            </ul>
                            <!-- End List Checked -->

                            <a class="btn btn-primary" href="/meeting/all">Book Now</a>




                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
            </div>
            <!-- End Features -->




            <!-- Card Grid -->
            <!-- Card Grid -->
            <div class="container content-space-2 content-space-lg-3">
                <!-- Title -->
                <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
                    <h2>College Specific Essays</h2>
                </div>
                <!-- End Title -->

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <!-- Card -->
                        <a class="card card-transition bg-img-start shadow-none h-100" href="/essay/college/stanford"
                            style="background-image:
                        url(/assets/img/home/stanford-campus.jpg);
                        min-height: 25rem;">
                            <div class="card-body">
                                <span class="card-subtitle text-white">Essays That Worked</span>
                            </div>
                            <div class="card-footer pt-0">
                                <h2 class="card-title text-white">Read Stanford Essays</h2>
                                <p class="card-link text-white">View work <i class="bi-chevron-right small ms-1"></i>
                                </p>
                            </div>
                        </a>
                        <!-- End Card -->
                    </div>

                    <div class="col-md-4 mb-3">
                        <!-- Card -->
                        <a class="card card-transition bg-img-start shadow-none h-100" href="/essay/college/harvard"
                            style="background-image: url(/assets/img/home/harvard-campus.jpg); min-height: 25rem;">
                            <div class="card-body">
                                <span class="card-subtitle text-white text-shadow">Essays That Worked</span>
                            </div>
                            <div class="card-footer pt-0">
                                <h2 class="card-title text-white">Read Harvard Essays</h2>
                                <p class="card-link text-white">View work <i class="bi-chevron-right small ms-1"></i>
                                </p>
                            </div>
                        </a>
                        <!-- End Card -->
                    </div>

                    <div class="col-md-4 mb-3">
                        <!-- Card -->
                        <a class="card card-transition bg-img-start shadow-none h-100" href="/essay/college/mit"
                            style="background-image: url(/assets/img/home/MIT-campus.jpg); min-height: 25rem;">
                            <div class="card-body">
                                <span class="card-subtitle text-white">Essays That Worked</span>
                            </div>
                            <div class="card-footer pt-0">
                                <h2 class="card-title text-white">Read MIT Essays</h2>
                                <p class="card-link text-white">View work <i class="bi-chevron-right small ms-1"></i>
                                </p>
                            </div>
                        </a>
                        <!-- End Card -->
                    </div>




                </div>
            </div>
            <!-- End Card Grid -->




            <!-- End Card Grid -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- JS Global Compulsory  -->

    <!-- JS Implementing Plugins -->

    <!-- JS Front -->

    <!-- JS Plugins Init. -->
    <script>
        (function () {
            // INITIALIZATION OF HEADER



            // INITIALIZATION OF SHOW ANIMATIONS
            // =======================================================
            new HSShowAnimation('.js-animation-link')


            // INITIALIZATION OF BOOTSTRAP VALIDATION
            // =======================================================
            HSBsValidation.init('.js-validate', {
                onSubmit: data => {
                    data.event.preventDefault()
                    alert('Submitted')
                }
            })


            // INITIALIZATION OF BOOTSTRAP DROPDOWN
            // =======================================================


            // INITIALIZATION OF GO TO
            // =======================================================
            new HSGoTo('.js-go-to')


            // INITIALIZATION OF AOS
            // =======================================================
            AOS.init({
                duration: 650,
                once: true
            });


            // INITIALIZATION OF TEXT ANIMATION (TYPING)
            // =======================================================
            HSCore.components.HSTyped.init('.js-typedjs')


            // INITIALIZATION OF SWIPER
            // =======================================================
            var sliderThumbs = new Swiper('.js-swiper-thumbs', {
                watchSlidesVisibility: true,
                watchSlidesProgress: true,
                history: false,
                breakpoints: {
                    480: {
                        slidesPerView: 2,
                        spaceBetween: 15,
                    },
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 15,
                    },
                    1024: {
                        slidesPerView: 3,
                        spaceBetween: 15,
                    },
                },
                on: {
                    'afterInit': function (swiper) {
                        swiper.el.querySelectorAll('.js-swiper-pagination-progress-body-helper')
                            .forEach($progress => $progress.style.transitionDuration = `${swiper.params.autoplay.delay}ms`)
                    }
                }
            });

            var sliderMain = new Swiper('.js-swiper-main', {
                effect: 'fade',
                autoplay: true,
                loop: true,
                thumbs: {
                    swiper: sliderThumbs
                }
            })
        })()
    </script>