<% layout('./layouts/boilerplate') %>

    <main id="content" class="" role="main">
        <!-- Form -->
        <div class="container content-space-5 content-space-t-lg-5 content-space-b-lg-4 vh-100 d-flex align-items-center ">
            <div class="flex-grow-1 mx-auto " style="max-width: 50rem;">

                <div class="card">
                    <div class="card-header border-bottom">
                        <h5 class="card-header-title">Password Reset</h5>
                    </div>

                    <!-- Body -->
                    <div class="card-body">
                        <!-- Form -->
                        <form action='/password-reset/<%= user.password_reset_token %>/<%= user._id %>' method="POST">

                            <!-- Form -->
                            <div class="row mb-4">
                                <label for="newPassword" class="col-sm-3 col-form-label form-label">New password</label>

                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="password" id="newPassword"
                                        placeholder="Enter new password" aria-label="Enter new password">
                                </div>
                            </div>
                            <!-- End Form -->

                            <!-- Form -->
                            <div class="row mb-4">
                                <label for="confirmNewPasswordLabel" class="col-sm-3 col-form-label form-label">Confirm
                                    new
                                    password</label>

                                <div class="col-sm-9">
                                    <div class="mb-3">
                                        <input type="password" class="form-control" name="password_confirm"
                                            id="confirmNewPasswordLabel" placeholder="Confirm your new password"
                                            aria-label="Confirm your new password">
                                    </div>

                                    <h5>Password requirements:</h5>

                                    <p class="card-text small">Ensure that these requirements are met:</p>

                                    <ul class="small">
                                        <li>Minimum 8 characters long - the more, the better</li>
                                        <li>At least one lowercase character</li>
                                        <li>At least one uppercase character</li>
                                        <li>At least one number, symbol, or whitespace character</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Form -->

                            <%if(error!=""){%>
                                <p class="text-danger">
                                    <%= error %>
                                </p>



                                <% } %>

                                    <div class="d-flex justify-content-end gap-3">
                                        <a class="btn btn-white" href="javascript:;">Cancel</a>
                                        <button type="submit" class="btn btn-primary">Update Password</button>
                                    </div>
                        </form>
                        <!-- End Form -->
                    </div>
                    <!-- End Body -->
                </div>
                <!-- End Card -->
            </div>
        </div>
    </main>