<% layout('./layouts/boilerplate') %>
    <link rel="stylesheet" href="/assets/vendor/tom-select/dist/css/tom-select.bootstrap5.css">

    <link rel="stylesheet" href="/assets/vendor/quill/dist/quill.snow.css">






    <!-- Form -->
    <div class="container content-space-2 content-space-lg-3">
        <div class="w-lg-75 mx-lg-auto">
            <!-- Heading -->
            <div class="text-center mb-2">
                <h1 class="h2">Mentor Essay Upload </h1>
                <p class="mb-3">Please proofread your submission carefully before submitting.</p>

            </div>
            <!-- End Heading -->

            <form action="/essay/post" method="POST" id="application_form">
                <div class="mb-5">







                    <div class="mb-4">
                        <p>Use the college essay upload form to showcase your essays on the internet. This is a powerful
                            tool to attract users to your mentoring page.</p>
                    </div>







                    <label class="form-label" for="prompt">Write Your Prompt For Essay</label>
                    <div class="input-group input-group-merge mb-4">
                        <span class="input-group-prepend input-group-text">
                        </span>
                        <textarea required type="text" class="form-control form-control-lg" id="prompt"
                            aria-label="prompt" name="prompt"></textarea>
                    </div>


                    <label for="university" class="col-sm-3 col-form-label form-label"> Essay Type
                        <span class="form-label-secondary"></span></label>

                    <div class="col-sm-9 mb-3">
                        <div class="input-group">


                            <!-- Select -->
                            <div class="tom-select-custom">
                                <select id="university" class="js-select form-select" name="university"
                                    data-hs-tom-select-options='{
                                                                                                                        "width": "100%",
                                                                                                                        "hideSearch": false
                                                                                                                      }'
                                    placeholder="Select University">
                                    <option value="Personal Statement">Personal Statement</option>
                                    <% for(let university of world_universities) {%>
                                        <option value="<%=university %>">
                                            <%= university %>
                                        </option>


                                        <% } %>
                                </select>
                            </div>
                        </div>


                        <!-- End Select -->
                    </div>


                    <!-- Form -->
                    <div class="mb-4">
                        <label class="form-label">Essay Text</label>

                        <!-- Quill -->
                        <div class="mb-4">

                            <!-- Quill -->
                            <div class="input-group">
                                <textarea required type="text" class="form-control form-control-lg" id="essay_text"
                                    aria-label="essay_text" name="essay_text"></textarea>
                            </div>
                            <!-- End Quill -->

                        </div>




                        <input type="text" name="essay_text" style="display: none;" />

                    </div>



                    <%if(error!=""){%>
                        <p class="text-danger">
                            <%= error %>
                        </p>



                        <% } %>

                            <div class="d-grid">
                                <button id="application_submit" type="submit"
                                    class="btn btn-primary btn-lg">Submit</button>
                            </div>

                </div>
            </form>

        </div>




    </div>
    <!-- End Form -->


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>











    <!-- JS Implementing Plugins -->
    <script src="/assets/vendor/hs-count-characters/dist/js/hs-count-characters.js"></script>
    <script src="/assets/js/file_upload.js"></script>
    <script src="/assets/vendor/quill/dist/quill.min.js"></script>
    <script src="/assets/vendor/hs-add-field/dist/hs-add-field.min.js"></script>
    <script src="/assets/vendor/tom-select/dist/js/tom-select.complete.min.js"></script>
    <script src="/assets/vendor/imask/dist/imask.min.js"></script>
    <script src="/assets/vendor/hs-file-attach/dist/hs-file-attach.min.js"></script>



    <!-- JS Front -->
    <script src="/assets/js/theme.min.js"></script>


    <!-- JS Plugins Init. -->
    <script>
        (function () {
            // INITIALIZATION OF FILE ATTACH
            // =======================================================
            new HSFileAttach('.js-file-attach')


            // INITIALIZATION OF COUNT CHARACTERS
            // =======================================================
            new HSCountCharacters('.js-count-characters')


            // INITIALIZATION OF QUILLJS EDITOR
            // =======================================================
            HSCore.components.HSQuill.init('.js-quill')





            // INITIALIZATION OF ADD FIELD
            // =======================================================
            new HSAddField('.js-add-field', {
                addedField: el => {
                    el.querySelectorAll('.js-select-dynamic').forEach(item => {
                        HSCore.components.HSTomSelect.init(item)
                    })

                    el.querySelectorAll('.js-input-mask-dynamic').forEach(item => {
                        HSCore.components.HSMask.init(item)
                    })
                }
            })


            // INITIALIZATION OF INPUT MASK
            // =======================================================
            HSCore.components.HSMask.init('.js-input-mask')


            // INITIALIZATION OF QUILLJS EDITOR
            // =======================================================


            // INITIALIZATION OF SELECT
            // =======================================================
            HSCore.components.HSTomSelect.init('.js-select', {
                render: {
                    'option': function (data, escape) {
                        return data.optionTemplate || `<div>${data.text}</div>>`
                    },
                    'item': function (data, escape) {
                        return data.optionTemplate || `<div>${data.text}</div>>`
                    }
                }
            })







        })()
    </script>


    <script>




        document.title = "Mentor Essay Upload | Counsia";

        $('meta[name="description"]').attr("content", "Use the college essay upload form to showcase your essays on the internet. This is a powerful tool to attract users to your mentoring page.");
    </script>