<% layout('./layouts/dashboard_boilerplate') %>

    <link rel="stylesheet" href="/assets/css/fullcalendar.css">

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <style>
        @media (max-width: 767.98px) {
            .fc .fc-toolbar.fc-header-toolbar {
                display: block;
                text-align: center;
            }
    
            .fc-header-toolbar .fc-toolbar-chunk {
                display: block;
            }
    
            .fc {
                font-size: 0.5rem;
            }
        }
    </style>

    <script>


        let events = <%- JSON.stringify(events) %>


            document.addEventListener('DOMContentLoaded', function () {
                var Calendar = FullCalendar.Calendar;

                var containerEl = document.getElementById('external-events');
                var calendarEl = document.getElementById('calendar');
                var currentDate = new Date();

                // Extract the year, month, and day from the current date
                var year = currentDate.getFullYear();
                var month = (currentDate.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based, so we add 1
                var day = currentDate.getDate().toString().padStart(2, '0');

                // Format the date as 'YYYY-MM-DD'
                var formattedDate = year + '-' + month + '-' + day;


                var calendar = new Calendar(calendarEl, {
                    timeZone: 'local',

                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'timeGridWeek,timeGridDay'
                    },
                    events: events,
                    selectable: true,
                    initialView: 'timeGridWeek',
                    eventOverlap: false,
                    dateClick: function (arg) {
                        console.log(arg.date.toUTCString());
                    },
                    eventClick: function (info) {
                        window.location.href = '/meeting/' + info.event.id;
                    },
                    allDaySlot: false

                });

                calendar.render();


            });

    </script>

    <!-- ========== MAIN CONTENT ========== -->

    <div class=" col-lg-12 ">
        <!-- Card -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">Your Calendar</h4>
            </div>

            <div class="container px-5">
                










            </div>

        




            <div class="p-10" id='calendar-container'>
                <div id='calendar'></div>
            </div>

           

        </div>






    </div>
    <!-- End Card -->
    </div>
    <!-- End Col -->
    </div>
    <!-- End Row -->
    </div>
    <!-- End Content Section -->

    <!-- ========== END MAIN CONTENT ========== -->