<% layout('./layouts/boilerplate') %>


    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- Gallery -->
        <div class="bg-img-start " style="background-image: url(/assets/img/about/about_3.jpg);">
            <div class="d-md-flex content-space-3 content-space-md-0">
                <div
                    class="container d-md-flex justify-content-md-center align-items-md-center flex-md-column min-vh-md-100 text-center">
                    <h1 class="display-1 text-white">About.</h1>
                    <p class="lead text-white">Take a step towards securing your dream university today.</p>
                </div>
            </div>
        </div>
        <!-- End Hero -->



        <!-- Clients -->
        <div class="position-relative overflow-hidden content-space-t-2 mt-0 pt-0">
            <div class="position-absolute top-50 start-50 translate-middle w-100">
                <div class="container-fluid px-lg-6">
                    <div class="row justify-content-center">
                        <div class="col-3 my-4">
                            <div class="d-none d-md-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto">
                                <img class="avatar-img" src="/assets/img/Colleges/Columbia_University.png"
                                    alt="Logo">
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="col-3 mb-4">
                            <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto">
                                <img class="avatar-img" src="/assets/img/Colleges/Stanford_University.png"
                                    alt="Logo">
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="col-3 my-4">
                            <div class="d-none d-md-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto">
                                <img class="avatar-img"
                                    src="/assets/img/Colleges/University_of_California--Los_Angeles.png"
                                    alt="Logo">
                            </div>
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <div class="row justify-content-between">
                        <div class="col-3 mb-4">
                            <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4">
                                <img class="avatar-img" src="/assets/img/Colleges/Harvard_University.png"
                                    alt="Logo">
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="col-3 my-4">
                            <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto">
                                <img class="avatar-img" src="/assets/img/Colleges/Yale_University.png" alt="Logo">
                            </div>
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <div class="row">
                        <div class="col-3 offset-1 my-4">
                            <div class="d-none d-md-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto">
                                <img class="avatar-img" src="/assets/img/Colleges/Princeton_University.png"
                                    alt="Logo">
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="col-3 offset-2 my-4">
                            <div class="d-none d-md-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto">
                                <img class="avatar-img" src="/assets/img/Colleges/John_Hopkins_University.png"
                                    alt="Logo">
                            </div>
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <div class="row justify-content-between">
                        <div class="col-4">
                            <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto">
                                <img class="avatar-img" src="/assets/img/Colleges/Duke_University.png" alt="Logo">
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="col-4 mt-6">
                            <div class="d-none d-sm-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto">
                                <img class="avatar-img" src="/assets/img/Colleges/Carnegie_Mellon_University.png"
                                    alt="Logo">
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="col-4 mt-6">
                            <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto">
                                <img class="avatar-img"
                                    src="/assets/img/Colleges/University_of_California--Berkeley.png" alt="Logo">
                            </div>
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
            </div>

            <div class="container position-relative zi-1 content-space-3 content-space-sm-4">
                <!-- Heading -->
                <div class="w-md-75 w-lg-50 text-center mx-md-auto">
                    <h2 class="h1">The complete edtech platform for college admissions.</h2>
                    <p>At Counsia, our purpose extends beyond merely connecting mentors and mentees; we strive towards
                        empowering young minds
                        by providing them first-hand insights into what awaits them at their dream universities through
                        personal experiences of
                        current university students themselves.</p>
                    <a class="link" href="/counselor/popular">View Popular Mentors <i
                            class="bi-chevron-right small ms-1"></i></a>
                </div>
                <!-- End Heading -->
            </div>

            <div class="position-absolute top-0 start-0 w-100 h-100"></div>
        </div>
        <!-- End Clients -->
        <!-- End Gallery -->

        <!-- Testimonials -->

        <!-- End Testimonials -->

        <!-- Gallery -->
        <div class="d-md-flex min-vh-md-100 bg-img-start "
            style="background-image: url(/assets/img/about/about_4.jpg);">
            <div
                class="container d-md-flex justify-content-md-center flex-md-column min-vh-md-100 content-space-3 content-space-md-0">
                <div class="w-sm-75 w-lg-50">
                    <div class="mb-3">
                        <!-- Fancybox -->

                        <!-- End Fancybox -->
                    </div>

                    <h2 class="h1 text-white">An innovative edtech platform that bridges the gap between high school
                        students and their dream universities.</h2>
                </div>

                <div class="w-sm-65 w-lg-40">
                    <p class="text-white">
                        We aim to provide affordable and personalized college mentoring for all those who aspire to
                        secure a place in top-notch
                        educational institutions.
                    </p>
                </div>
            </div>
        </div>
        <!-- End Gallery -->


        <!-- Features -->
        <div class="container content-space-2 content-space-lg-3">
            <h2 class="cursive_bold text-center mb-7">Founders</h2>
            <div class="container pt-3 pb-7">
                <div class="text-center mb-5">
                    <img class="avatar avatar-lg avatar-circle" src="/assets/img/others/moksh.jpeg" alt="Illustration">
                </div>

                <!-- Blockquote -->
                <figure class="w-md-75 text-center mx-md-auto">
                    <blockquote class="blockquote">“We believe every student deserves access to credible advice when
                        making
                        life-altering decisions like choosing where they
                        want further study.
                        ”</blockquote>

                    <figcaption class="blockquote-footer text-center">
                        Moksh Shah
                        <span class="blockquote-footer-source">Co-founder</span>
                    </figcaption>
                </figure>
                <!-- End Blockquote -->
            </div>

            <div class="container pt-7 pb-7">
                <div class="text-center mb-5">
                    <img class="avatar avatar-lg avatar-circle"
                        src="https://media.licdn.com/dms/image/D5603AQEIuYvYKuYDoQ/profile-displayphoto-shrink_400_400/0/1674501493957?e=1701302400&v=beta&t=xLrMVcUrqAuBxPJW-ge2y9uVkDK7yX8A_bat_ajX_2U"
                        alt="Illustration">
                </div>

                <!-- Blockquote -->
                <figure class="w-md-75 text-center mx-md-auto">
                    <blockquote class="blockquote">“Too many talented high school students are struggling without proper
                        guidance or simply can't afford conventional
                        college consulting services while planning their higher studies journey.
                        ”</blockquote>

                    <figcaption class="blockquote-footer text-center">
                        Ronit Jain
                        <span class="blockquote-footer-source">Co-founder</span>
                    </figcaption>
                </figure>
                <!-- End Blockquote -->
            </div>





        </div>
        <!-- End Features -->

        <!-- Gallery -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <img class="img-fluid" src="/assets/img/about/about_1.jpg" alt="Image Description">
                </div>
                <!-- End Col -->

                <div class="col-sm-6">
                    <img class="img-fluid" src="./assets/img/about/about_2.jpg" alt="Image Description">
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Gallery -->

        <!-- Content -->
        <div class="container content-space-1 content-space-lg-3">
            <div class="row justify-content-lg-center">
                <div class="col-md-6 col-lg-4">
                    <h2>What We Offer...</h2>
                </div>
                <!-- End Col -->

                <div class="col-md-6 col-lg-5 offset-lg-1">
                    <p>With us, you can find comprehensive mentoring tailored specifically around your needs – whether
                        you're looking for
                        general advice or have specific queries related to course selection or campus lifestyle. Our
                        network includes diligent
                        university students eager not just share knowledge but also inspire younger generations as they
                        once were inspired
                        before embarking on their own academic journeys.

                    </p>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Content -->

        <!-- Gallery -->

        <!-- End Team -->
        <!-- ========== END MAIN CONTENT ========== -->
    </main>