<!-- Card Grid -->
<% layout('./layouts/boilerplate') %>

    <main class="p-5">
        <div class="container content-space-2 vh-100 d-flex flex-column justify-content-center">
            <!-- Heading -->
            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
                <span class="text-cap">Contact Info</span>
                <h2 class="h1">Where to contact us.</h2>
            </div>
            <!-- End Heading -->

            <div class="row d-flex align-items-center justify-content-center">


                <div class="col-md-6 col-lg-6 mb-4 mb-md-5 mb-lg-0">
                    <!-- Card -->
                    <a class="card card-lg card-transition h-100 text-center" href="#">
                        <div class="card-body">
                            <div class="mb-4">
                                <img class="avatar" src="assets/svg/brands/google-adz-icon.svg" alt="Logo">
                            </div>
                            <h3 class="card-title">Email</h3>
                            <p class="card-text text-body">The best way to contact us is through our email.
                            </p>
                        </div>
                        <div class="card-footer pt-0">

                            <p>support@counsia.com <i class="bi-chevron-right small ms-1"></i></p>
                        </div>
                    </a>
                    <!-- End Card -->
                </div>
                <!-- End Col -->


                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Card Grid -->
    </main>