<% layout('./layouts/boilerplate') %>

    <main id="content" role="main">
        <!-- Hero -->
        <div class="overflow-hidden">
            <div class="container content-space-t-4 content-space-b-3">
                <div class="row justify-content-lg-between align-items-md-center">
                    <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
                        <!-- Heading -->
                        <div class="mb-5">
                            <span class="text-cap">Mentor At Counsia</span>
                            <h1 class="display-4 mb-3">Become A Mentor</h1>
                            <p class="lead">We bring together thousands of potential students, actively seeking guidance
                                from experienced college students like you. </p>
                        </div>
                        <!-- End Heading -->

                        <div class="d-grid d-sm-flex gap-3">
                            <a class="btn btn-primary btn-transition" href="/counselor/apply">Apply Now</a>
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="col-md-6">
                        <div class="position-relative">
                            <img class="img-fluid rounded-2" src="/assets/img/others/mentor.png"
                                alt="Image Description">
                            <div
                                class="position-absolute top-0 end-0 w-100 h-100 bg-soft-primary rounded-2 zi-n1 mt-5 me-n5">
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Hero -->

        <!-- Clients -->
        <div class="container content-space-2 content-space-b-lg-3">
            <!-- Heading -->
            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-6">
                <h2>Our counselors come from...</h2>
            </div>
            <!-- End Heading -->

            <div class="row justify-content-center text-center">
                <div class="col-4 col-sm-3 col-md-2 py-3">
                    <img class="avatar avatar-lg avatar-4x3 avatar-centered"
                        src="/assets/img/others/harvard-dark-logo.png" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col-4 col-sm-3 col-md-2 py-3">
                    <img class="avatar avatar-lg avatar-4x3 avatar-centered"
                        src="/assets/img/others/stanford-dark-logo.png" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col-4 col-sm-3 col-md-2 py-3">
                    <img class="avatar avatar-lg avatar-4x3 avatar-centered"
                        src="/assets/img/others/upenn-dark-logo.png" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col-4 col-sm-3 col-md-2 py-3">
                    <img class="avatar avatar-lg avatar-4x3 avatar-centered"
                        src="/assets/img/others/berkeley-dark-logo.png" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col-4 col-sm-3 col-md-2 py-3">
                    <img class="avatar avatar-lg avatar-4x3 avatar-centered" src="/assets/img/others/cmu-logo.png"
                        alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col-4 col-sm-3 col-md-2 py-3">
                    <img class="avatar avatar-lg avatar-4x3 avatar-centered" src="/assets/img/others/princeton-logo.png"
                        alt="Logo">
                </div>



                <div class="row justify-content-center text-center">
                    <div class="col-4 col-sm-3 col-md-2 py-3">
                        <img class="avatar avatar-lg avatar-4x3 avatar-centered" src="/assets/img/others/gt-logo.png"
                            alt="Logo">
                    </div>
                    <!-- End Col -->

                    <div class="col-4 col-sm-3 col-md-2 py-3">
                        <img class="avatar avatar-lg avatar-4x3 avatar-centered" src="/assets/img/others/yale-logo.png"
                            alt="Logo">
                    </div>
                    <!-- End Col -->

                    <div class="col-4 col-sm-3 col-md-2 py-3">
                        <img class="avatar avatar-lg avatar-4x3 avatar-centered" src="/assets/img/others/uva-logo.png"
                            alt="Logo">
                    </div>
                    <!-- End Col -->

                    <div class="col-4 col-sm-3 col-md-2 py-3">
                        <img class="avatar avatar-lg avatar-4x3 avatar-centered"
                            src="/assets/img/others/cornell-logo.png" alt="Logo">
                    </div>
                    <!-- End Col -->

                    <div class="col-4 col-sm-3 col-md-2 py-3">
                        <img class="avatar avatar-lg avatar-4x3 avatar-centered"
                            src="/assets/img/others/dartmouth-logo.png" alt="Logo">
                    </div>
                    <!-- End Col -->


                    <!-- End Col -->


                    <!-- End Col -->
                </div>
            </div>
            <!-- End Clients -->


            <!-- Features -->
            <div class="container content-space-2 content-space-lg-3">
                <!-- Heading -->
                <div class="w-lg-50 text-center mx-lg-auto mb-5">
                    <h2>Completely Free Application.<br>Get Paid Every Month.</h2>
                    <p>Gain access to a broad pool of potential students who are eagerly searching for a mentor like
                        you. Your profile will be
                        prominently showcased on our platform, maximizing your exposure and ensuring a steady stream of
                        mentees and income.</p>
                </div>
                <!-- End Heading -->

                <!-- Fancybox -->
                <div class="text-center mb-10">


                </div>
                <!-- End Fancybox -->

                <div class="w-lg-75 mx-lg-auto mb-10">
                    <div class="row justify-content-md-center">
                        <div class="col-sm-4 mb-5 mb-sm-0">
                            <div class="text-center px-sm-4">
                                <span class="svg-icon text-primary mb-3">
                                    <img src="/assets/vendor/duotone-icons/com/com006.svg"" alt="">
                                </span>
                                <h4>Complete the Mentor Application</h4>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class=" col-sm-4 mb-5 mb-sm-0">
                                    <div class="text-center px-sm-4">
                                        <span class="svg-icon text-primary mb-3">
                                            <img src="/assets/vendor/duotone-icons/fin/fin001.svg"" alt="">
                                </span>
                                <h4>Link your bank account with Stripe</h4>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class=" col-sm-4">
                                            <div class="text-center px-sm-4">
                                                <span class="svg-icon text-primary mb-3">
                                                    <img src="/assets/vendor/duotone-icons/gen/gen025.svg" alt="">
                                                </span>
                                                <h4>Add Appointments In Your Calendar</h4>
                                            </div>
                                    </div>
                                    <!-- End Col -->
                            </div>
                            <!-- End Row -->
                        </div>

                        <div class="mx-auto" style="max-width: 25rem;" data-aos="fade-up">
                            <img class="img-fluid" src="/assets/img/others/mentor2.png" alt="Image Description">
                        </div>
                    </div>
                    <!-- End Features -->

                    <!-- Portfolio -->

                    <!-- End Portfolio -->

                    <!-- Contact Form -->

                    <!-- End Contact Form -->
                </div>
    </main>