<% layout('./layouts/boilerplate') %>


    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <div class="overflow-hidden">
            <!-- Hero -->
            <div class="position-relative bg-img-start"
                style="background-image: url(/assets/svg/components/card-11.svg);">
                <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-2 content-space-b-lg-3">
                    <!-- Heading -->
                    <div class="w-md-75 w-lg-50 text-center mx-auto mb-9">
                        <h1>Counseling Session Costs</h1>
                    </div>
                    <!-- End Heading -->


                </div>
            </div>
            <!-- End Hero -->

            <!-- Pricing -->
            <div class="container mt-n5 mt-lg-n10">
                <div class="position-relative zi-1 mb-10">
                    <div class="row d-flex align-items-center justify-content-center">

                        <!-- End Col -->

                        <div class="col-md-6 mb-3 mb-md-0">
                            <!-- Card -->
                            <div class="card bg-primary h-100 zi-1">
                                <div class="card-header text-center">
                                    <div class="text-white mb-2">
                                        <span class="fs-5 align-top fw-semibold">$</span>
                                        <span id="pricingCount2" class="fs-1 fw-semibold"
                                            data-hs-toggle-switch-item-options='{
                             "min": 49,
                             "max": 39
                           }'>59.99</span>
                                        <span>/1 hour session</span>
                                    </div>

                                    <h3 class="card-title text-white">Individual</h3>
                                    <p class="card-text text-white-70">Every session at same cost...</p>
                                </div>

                                <div class="card-body d-flex justify-content-center py-0">
                                    <!-- List Checked -->
                                    <ul class="list-checked list-checked-soft-bg-light">
                                        <li class="list-checked-item text-white">1 Hour</li>
                                        <li class="list-checked-item text-white">Screened Mentors</li>
                                        <li class="list-checked-item text-white">Essay Help</li>
                                        <li class="list-checked-item text-white">Application Help</li>
                                    </ul>
                                    <!-- End List Checked -->
                                </div>

                                <div class="card-footer text-center">
                                    <div class="d-grid mb-2">
                                        <a href="/counselor/search" class="btn btn-light">Look For Mentors</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <!-- End Col -->


                    </div>
                    <!-- End Row -->

                    <!-- SVG Elements -->
                    <figure class="position-absolute bottom-0 start-0 mb-n7 ms-n7" style="width: 9rem;">
                        <svg viewBox="0 0 522 504" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.5"
                                d="M332 504H510.4C516.8 504 522 498.8 522 492.4V314C522 209.1 436.9 124 332 124C227.1 124 142 209.1 142 314C142 418.9 227.1 504 332 504Z"
                                fill="#00C9A7" />
                            <path
                                d="M190 380H11.6C5.2 380 0 374.8 0 368.4V190C0 85.1 85.1 0 190 0C294.9 0 380 85.1 380 190C380 294.9 294.9 380 190 380Z"
                                fill="@@vars.style.color" />
                        </svg>
                    </figure>

                    <figure class="position-absolute top-0 end-0 mt-n8 me-n8" style="width: 10rem;">
                        <img class="img-fluid" src="assets/svg/components/dots-lg.svg" alt="Image Description">
                    </figure>
                    <!-- End SVG Elements -->
                </div>


            </div>
            <!-- End Pricing -->
        </div>





        <!-- FAQ -->
        <div class="container content-space-2 content-space-lg-3">
            <!-- Heading -->
            <div class="w-md-75 w-lg-50 text-center mx-lg-auto mb-5 mb-md-9">
                <h2>Frequently Asked Questions</h2>
            </div>
            <!-- End Heading -->

            <div class="row justify-content-md-center">
                <div class="col-sm-6 col-lg-5 mb-3 mb-md-5">
                    <h4>Who are the mentors on Counsia?</h4>
                    <p>Our mentors are college students who have successfully navigated the college admissions process
                        and are eager to guide
                        high schoolers on their journey.</p>
                </div>
                <!-- End Col -->

                <div class="col-sm-6 col-lg-5 mb-3 mb-md-5">
                    <h4>How does the mentoring process work?</h4>
                    <p>Mentoring involves one-on-one interactions between high school students and their chosen college
                        mentors through online
                        communication platforms.</p>
                </div>
                <!-- End Col -->

                <div class="col-sm-6 col-lg-5 mb-3 mb-md-5">
                    <h4>What benefits do I get from having a mentor?</h4>
                    <p>Mentors provide insights into college applications, essay writing, standardized tests,
                        extracurriculars, and more,
                        enhancing your chances of admission.

                    </p>
                </div>
                <!-- End Col -->

                <div class="col-sm-6 col-lg-5 mb-3 mb-md-5">
                    <h4>Where do the meetings go?</h4>
                    <p>Meetings will be automatically added to your Counsia Calendar and you will be sent an email. A
                        link will also be visibile in your dashboard.</p>
                </div>
                <!-- End Col -->

                <div class="col-sm-6 col-lg-5 mb-3 mb-md-5">
                    <h4>Is there a cost for mentoring?</h4>
                    <p>Yes, there is a fee for the mentoring service, but we strive to offer more affordable rates
                        compared to professional
                        counseling services.
                    </p>
                </div>
                <!-- End Col -->

                <div class="col-sm-6 col-lg-5 mb-3 mb-md-5">
                    <h4>How often will I interact with my mentor?</h4>
                    <p>Interaction frequency varies but typically involves regular online conversations, scheduled
                        according to mutual
                        availability.
                    </p>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End FAQ -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->