<% layout('./layouts/boilerplate') %>

    <style>
        .card-body div {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .card-body h3 {
            font-size: 100%;
            margin-bottom: 3rem;
        }
    </style>

    <main id="content" role="main">
        <!-- Content -->
        <div class="container content-space-3 content-space-lg-4">
            <!-- Card -->
            <div class="card card-lg">
                <!-- Header -->
                <div class="card-header bg-dark py-sm-10 text-center">
                    <h1 class="card-title h2 text-white">Applying to be A Mentor Form</h1>
                    <p class="card-text text-white">Last modified: October 12, 2023</p>
                </div>
                <!-- End Header -->

                <!-- Card Body -->
                <div class="card-body d-flex flex-column justify-content-center align-items-center">







                    <div>
                        <h3>1. Click on Application</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/9c992a59-f034-4b1f-9b65-357957beb6ce/2dd5cdc7-ecd8-4707-bc1c-8e8f6dcf4041.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.7791&fp-y=0.1227&fp-z=2.8216&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=268&mark-y=243&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz02NjUmaD0xMzkmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width=50%"
                            alt="Click on Application" />
                    </div>

                    <div>
                        <h3>2. Fill Out Mentor Information Fields</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/21b68989-4e50-4beb-bf2e-8d1cec455b48/1376cdb4-c31f-44fa-baa7-8a182a378735.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.2523&fp-y=0.4244&fp-z=2.2222&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=400&mark-y=383&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz00MDAmaD0xMzYmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Fill Out Mentor Information Fields" />
                    </div>

                    <div>
                        <h3>3. Fill Out Accepted Universities</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/1d58ead5-c85b-4ab7-b469-986b843e32d7/a5e27402-602e-4d53-81d8-179bca24a747.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.4268&fp-y=0.8114&fp-z=2.1526&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=387&mark-y=451&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz00MjUmaD0xNjkmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Fill Out Accepted Universities" />
                    </div>

                    <div>
                        <h3>4. Click Attending University</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/388a3965-63a9-4aee-aaad-c694402976a5/74b87584-88f1-44c9-804b-9fab40ab88b0.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.5000&fp-z=1.0036&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=2&mark-y=3&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0xMTk2Jmg9ODk3JmZpdD1jcm9wJmNvcm5lci1yYWRpdXM9MTA%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Click Attending University" />
                    </div>

                    <div>
                        <h3>5. Fill out Attending University</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/2afcd4b8-c9ab-4f2d-92d2-9c5d310aebbe/a5ff472d-1dc2-4237-a605-30b0395fa2f2.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.4524&fp-y=0.7504&fp-z=2.0000&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=354&mark-y=512&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz01NzYmaD0xMDAmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Fill Out Attending University" />
                    </div>

                    <div>
                        <h3>6. Fill Out Detailed Information</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/ef168ed2-c154-4e3b-a510-3455e8831b50/819135f2-c390-4ee3-b5f9-a2f300149cf4.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.5000&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=213&mark-y=599&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTQlMkNGRjc0NDImdz03NDgmaD0xNjgmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Fill Out Detailed Information" />
                    </div>

                    <div>
                        <h3>7. Fill Out Dropdown Sections</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/f6543262-65ea-414c-b9bd-4d78c8dc27a8/cd93dc44-7b4b-4510-be78-fc311e64e8b4.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.3291&fp-y=0.3845&fp-z=1.6566&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=298&mark-y=400&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz02MDQmaD0xMDEmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Fill Out Dropdown Sections" />
                    </div>

                    <div>
                        <h3>8. Fill Out Classes</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/a59a469b-6d9c-407c-8762-6bfbd9af34c8/b1308c43-b4fb-44a8-9df3-af96e09b6c48.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.4627&fp-y=0.6868&fp-z=1.2155&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=184&mark-y=523&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz04MzMmaD03MiZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%" alt="Fill Ou Classes" />
                    </div>

                    <div>
                        <h3>9. Fill Out Awards</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/6b6ecd22-d4df-40a0-9900-773b87a4953a/b40c3298-b214-43bd-b00e-1040322bb174.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.5000&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=907&mark-y=632&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTQlMkNGRjc0NDImdz02MyZoPTU5JmZpdD1jcm9wJmNvcm5lci1yYWRpdXM9MTA%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%" alt="Fill Out Awards" />
                    </div>

                    <div>
                        <h3>10. Type Essay Prompts</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/a75e2452-46e9-4d85-b1e7-34b6c50176a4/9f5b1a81-cf68-41e5-9258-6bd2beffc873.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.4995&fp-y=0.3531&fp-z=1.2155&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=130&mark-y=334&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz05NDAmaD0xMDYmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Type Essay Prompts" />
                    </div>

                    <div>
                        <h3>11. Choose University for Essay</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/8dece426-0d35-4751-8e61-2c11da586311/da62c2c1-a8d4-41d1-a69f-f071eb2037e6.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.4700&fp-y=0.5175&fp-z=1.8519&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=333&mark-y=405&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz01MzMmaD05MyZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Choose University for Essay" />
                    </div>

                    <div>
                        <h3>12. Type in Essay</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/afece3e3-6c10-4b7b-a47b-955cb3f828dc/9ee37859-62b3-4447-ac26-7faaecd578a7.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.1705&fp-z=1.2155&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=129&mark-y=5&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz05NDEmaD0zNjMmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%" alt="Type in essay" />
                    </div>

                    <div>
                        <h3>13. Fill Out File Dropdowns for Identity Verification</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/667cfc84-d3ca-4f03-8ef4-22728ec750e7/2dbb05b9-16ce-4dac-a4d5-890cfe95a532.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5955&fp-y=0.6385&fp-z=1.6393&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=196&mark-y=403&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz04MDgmaD05NyZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Fill Out File Dropdowns for Identity Verification" />
                    </div>



                    <div>
                        <h3>14. Click on Zoom Home Page</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/3ff6d825-12fb-4bc5-9c68-7e6276f63a0d/6129ebd8-44ff-40f3-9335-8a5f38c2637b.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.0773&fp-y=0.0865&fp-z=2.2358&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=10&mark-y=134&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0zOTUmaD04MCZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Click on Zoom Home Page" />
                    </div>

                    <div>
                        <h3>15. Click on My Account</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/5dc7f557-c4fe-4c63-b436-9c0887c845b6/f19c1ce5-78aa-46c6-a094-17e28c29926c.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.9441&fp-y=0.0871&fp-z=2.7742&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=846&mark-y=142&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0zMzYmaD0xNTEmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Click on My Account" />
                    </div>

                    <div>
                        <h3>16. Click on Meetings</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/940711f0-50ea-414a-8602-3136d112ab0e/eb61dc17-348f-4579-a659-82bd4143dad9.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.1409&fp-y=0.4764&fp-z=1.7405&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=8&mark-y=406&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz01NzMmaD05MSZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Click on Meetings" />
                    </div>

                    <div>
                        <h3>17. Click on Personal Room</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/412376a9-7ad2-45d7-81b0-6c9ccbc17531/c9572551-12a7-446d-8c50-fe668f81850a.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5859&fp-y=0.2769&fp-z=2.2680&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=408&mark-y=377&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0zODQmaD0xNDgmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Click on Personal Room" />
                    </div>

                    <div>
                        <h3>18. Click on Copy Url</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/b8b6bf0a-9791-4376-bd8c-186f245fd377/72d6654f-ef4b-4d5e-88a3-0e34b6303cb9.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.7691&fp-y=0.6687&fp-z=3.0171&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=547&mark-y=408&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0xMDUmaD04NiZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Click on Copy Url" />
                    </div>

                    <div>
                        <h3>19. Copy personal meeting link</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/6ccdfb45-e9ea-4619-93a7-08c9d1edcd7e/0de40342-9119-4dbf-a4f6-c3f00ae1f736.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.7505&fp-y=0.6475&fp-z=3.2166&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=584&mark-y=435&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0zMiZoPTMyJmZpdD1jcm9wJmNvcm5lci1yYWRpdXM9MTA%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Copy personal meeting link" />
                    </div>


                    <div>
                        <h3>20. Click on Personal ZOOM Meeting Link (From .edu Email Account)</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/6c352d7d-1f39-4359-91de-dee53f4cbc1c/b25c097f-adb1-45e0-835e-cc23155dbd1d.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5955&fp-y=0.6796&fp-z=1.6393&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=196&mark-y=403&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz04MDgmaD05NyZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Click on Personal ZOOM Meeting Link (From .edu Email Account)" />
                    </div>

                    <div>
                        <h3>21. Paste input</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/83587739-44c6-42a6-93f7-8d42b26954eb/bff7a5e2-51c1-4fa4-9730-61e5f41cd045.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5955&fp-y=0.6796&fp-z=1.6393&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=196&mark-y=403&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz04MDgmaD05NyZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%" alt="Paste input" />
                    </div>

                    <div>
                        <h3>22. Click on Submit</h3>
                        <img src="https://images.tango.us/workflows/d8da0879-943c-46b7-8294-cee2283411cd/steps/f8052869-7882-4771-a298-873b01d6c5f9/7a9bb5e0-3755-4207-a8c7-c04cd28c04de.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.8271&fp-z=1.0763&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=46&mark-y=700&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0xMTA4Jmg9NjgmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%" alt="Click on Submit" />
                    </div>

                    <br />
                    <hr />


                    <!-- Card Body -->


                </div>

            </div>

        </div>
    </main>


    <script>


        document.title = "Apply to Counsia Mentorship Program";

        $('meta[name="description"]').attr("content", "Read our documentation on how to apply to Counsia Mentorship Program. The steps are easy to follow and you can apply in less than 10 minutes to make over $40-$50 per hour.");
    </script>