<% layout('./layouts/boilerplate') %>

    <style>
        .card-body div {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .card-body h3 {
            font-size: 100%;
            margin-bottom: 3rem;
        }
    </style>

    <main id="content" role="main">
        <!-- Content -->
        <div class="container content-space-3 content-space-lg-4">
            <!-- Card -->
            <div class="card card-lg">
                <!-- Header -->
                <div class="card-header bg-dark py-sm-10 text-center">
                    <h1 class="card-title h2 text-white">Mentor Onboarding</h1>
                    <p class="card-text text-white">Last modified: October 12, 2023</p>
                </div>
                <!-- End Header -->

                <!-- Card Body -->
                <div class="card-body d-flex flex-column justify-content-center align-items-center">









                    <div>
                        <h3>1. Click on Account</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/8e108c2f-2100-41d2-9926-cb24763d9cf2/b206cdb6-ad1b-435c-aae4-e99ad242a05c.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.8814&fp-y=0.0399&fp-z=2.7375&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=653&mark-y=18&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0zMTQmaD0xNjEmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%" alt="Click on Account" />
                    </div>

                    <div>
                        <h3>2. Expand the Menu</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/c7a640b1-c368-4fef-8eca-ff52c9ea1b2b/1e27e60d-ac61-489b-b83d-40c0d2b3331f.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.1559&fp-y=0.0369&fp-z=2.8024&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=452&mark-y=21&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0xNDQmaD0xNDQmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%" alt="Expand the Menu" />
                    </div>

                    <div>
                        <h3>3. Scroll Down In Your Side Navbar</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/ab1588ee-4747-4725-b333-df7c4a20807c/c3e99203-3e1e-4f1d-90d8-8dfacb653708.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.1250&fp-y=0.4964&fp-z=1.0754&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=5&mark-y=38&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0zMTMmaD04MjcmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Scroll Down In Your Side Navbar" />
                    </div>

                    <div>
                        <h3>4. Click on Update</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/ea994e84-41b0-4e8c-adc1-9e492d8c3bc9/f79a9af5-e134-4b48-abe2-b9872f01d7fd.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.1136&fp-y=0.8615&fp-z=2.0073&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=35&mark-y=602&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz00NzcmaD05OSZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%" alt="Click on Update" />
                    </div>

                    <div>
                        <h3>5. Update Your Counselor Info</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/6ea2ce96-8546-4f55-8ace-f68b5c0b2e93/4bcbc90f-f6a1-41c6-bd00-271250bc4249.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5005&fp-y=0.4528&fp-z=1.1482&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=88&mark-y=393&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0xMDIzJmg9MTE2JmZpdD1jcm9wJmNvcm5lci1yYWRpdXM9MTA%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Update Your Counselor Info" />
                    </div>

                    <div>
                        <h3>6. Save Changes</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/8de1b2e5-9191-451a-949f-3dc8464fc21a/e70d4bfa-0b9a-4c9f-ad88-edbddda3f246.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.8100&fp-y=0.7926&fp-z=3.9855&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=309&mark-y=340&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz01ODMmaD0yMjImZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%" alt="Save Changes" />
                    </div>

                    <div>
                        <h3>7. Add Stripe Connection to Get Paid, Click On the Stripe Toggle and Follow Directions There
                        </h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/7605342a-a96e-4cb6-8cb4-9f6d1a4021aa/23679702-cef4-4eb7-bb5f-7ef20aa2d52d.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.2086&fp-y=0.7104&fp-z=2.9178&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=525&mark-y=399&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0xNTAmaD0xMDUmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Add Stripe Connection to Get Paid, Click On the Stripe Toggle and Follow Directions There" />
                    </div>

                    <div>
                        <h3>8. Now, Add Appointments</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/d87e8027-0f87-4af6-88ee-8e2bf27ad996/5ea2010c-2865-4b0c-b6a2-99db8136d64e.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.1136&fp-y=0.6137&fp-z=2.0073&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=35&mark-y=402&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz00NzcmaD05OSZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Now, Add Appointments" />
                    </div>

                    <div>
                        <h3>9. Drag An Open Session</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/e96c0928-fb48-40de-890f-a9e64478e66d/fa359d46-9702-40ed-8955-24d28ff86aa4.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.4995&fp-y=0.1608&fp-z=2.6506&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=477&mark-y=347&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0yNDYmaD03NSZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Drag An Open Session" />
                    </div>

                    <div>
                        <h3>10. Into Your Calendar</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/b64f0420-ef34-4572-b7b7-be78865613e2/cc84bf79-a45f-4f87-b33f-1030dafe2f0b.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5195&fp-y=0.6596&fp-z=2.4283&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=437&mark-y=384&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0zMjYmaD0xMzUmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Into Your Calendar" />
                    </div>

                    <div>
                        <h3>11. Now It Should Be In Your Calendar</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/1a8b51d8-7363-40b8-ada1-bd0580baaa4a/b9eb4b24-aa0f-4e8c-aebb-f547445ab42e.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5005&fp-y=0.6693&fp-z=1.0989&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=59&mark-y=251&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0xMDgzJmg9NjQ2JmZpdD1jcm9wJmNvcm5lci1yYWRpdXM9MTA%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Now It Should Be In Your Calendar" />
                    </div>

                    <div>
                        <h3>12. Click on the Event to Delete It</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/9cd5781b-8ccf-4ab2-992a-d6438803954b/3668e3bd-f0e3-4565-9c31-4f717206fe56.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5195&fp-y=0.6064&fp-z=2.4283&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=437&mark-y=384&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0zMjYmaD0xMzUmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Click on the Event to Delete It" />
                    </div>

                    <div>
                        <h3>13. It Should Now Be Gone</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/6f39947c-1b90-4a29-ade0-a526b22d6746/10d33472-3015-4941-bb3e-19b7e83da4e2.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5005&fp-y=0.6693&fp-z=1.0989&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=59&mark-y=251&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0xMDgzJmg9NjQ2JmZpdD1jcm9wJmNvcm5lci1yYWRpdXM9MTA%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="It Should Now Be Gone" />
                    </div>

                    <div>
                        <h3>14. After Any Calendar Edits, You Must Save</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/bc768327-667d-4059-862e-7a94b9c2e521/d4956b0f-9dfd-406e-ae7c-cbe74ad4add5.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.1227&fp-y=0.8325&fp-z=2.7228&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=291&mark-y=415&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz0yMjAmaD0xNTEmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="After Any Calendar Edits, You Must Save" />
                    </div>

                    <div>
                        <h3>15. To Post Essays, Click Essay Post</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/03a44556-37cb-4e90-9639-77035250b2e2/f9e521e2-5baa-4472-b0b3-59de224d58d1.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.1136&fp-y=0.8289&fp-z=2.0073&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=35&mark-y=543&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz00NzcmaD05OSZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="To Post Essays, Click Essay Post" />
                    </div>

                    <div>
                        <h3>16. Type In Your Prompt</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/81476d22-e7e5-44a9-a094-e5c6a0d72d52/f5410111-070c-4c6c-9433-f50f8c9a2b8f.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.4995&fp-y=0.4039&fp-z=1.2155&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=130&mark-y=390&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz05NDAmaD0xMDYmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Type In Your Prompt" />
                    </div>

                    <div>
                        <h3>17. Choose the Essay Type/University</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/99a3252d-aa22-4fa6-ad4b-c58bf2304391/bf725a57-3e2c-4e92-af5d-611e454307b3.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.2768&fp-y=0.5562&fp-z=2.0110&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=362&mark-y=394&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz00NzYmaD0xMTQmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Choose the Essay Type/University" />
                    </div>

                    <div>
                        <h3>18. Choose The University</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/f74c99bf-b3c6-4448-a814-f19fc79069ca/8c98ebfc-7012-4cb8-90c6-e35923c8d2b4.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.2764&fp-y=0.6191&fp-z=2.0677&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=372&mark-y=399&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz00NTYmaD0xMDQmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Choose The University" />
                    </div>

                    <div>
                        <h3>19. Write Your Essay</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/99ea62ab-0141-4c3b-a4c7-bef83d70f739/127fc1f9-a59a-4539-9b48-6cad67e1c723.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.6856&fp-z=1.2155&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=129&mark-y=503&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz05NDEmaD0xMDkmZml0PWNyb3AmY29ybmVyLXJhZGl1cz0xMA%3D%3D"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%" alt="Write Your Essay" />
                    </div>

                    <div>
                        <h3>20. Click on Submit and Your Are Done</h3>
                        <img src="https://images.tango.us/workflows/ca633103-d245-48c0-8455-9485017d1f87/steps/91cb6393-f54d-43fe-9e1b-cf6368080a97/e39e6a4a-fa52-46a7-b484-e35f27e1180f.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.7896&fp-z=1.2155&w=1200&border=2%2CF4F2F7&border-radius=8%2C8%2C8%2C8&border-radius-inner=8%2C8%2C8%2C8&blend-align=bottom&blend-mode=normal&blend-x=0&blend-w=1200&blend64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmstdjIucG5n&mark-x=129&mark-y=633&m64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL2JsYW5rLnBuZz9tYXNrPWNvcm5lcnMmYm9yZGVyPTYlMkNGRjc0NDImdz05NDEmaD03NyZmaXQ9Y3JvcCZjb3JuZXItcmFkaXVzPTEw"
                            style="border-radius: 8px; border: 1px solid #F4F2F7;" width="50%"
                            alt="Click on Submit and Your Are Done" />
                    </div>

                    <br />
                    <hr />



                    <!-- Card Body -->


                </div>

            </div>

        </div>
    </main>

    <script>


        document.title = "Mentor Onboarding | Counsia";

        $('meta[name="description"]').attr("content", "Read our step-by-step guide on how to onboard as a counselor on Counsia. We'll walk you through the process of setting up your profile, getting paid, adding appointments, and posting essays.");
    </script>