<% layout('./layouts/boilerplate') %>

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- Content -->
        <div class="container content-space-2 content-space-lg-3">
            <div class="w-md-75 w-lg-50 text-center mx-md-auto">
                <div class="mb-5">
                    <img class="img-fluid" src="/assets/svg/illustrations/oc-error.svg" Image Description"
                        style="width: 15rem;">
                </div>

                <div class="mb-5">
                    <h1 class="h2">Sorry there was an error!</h1>
                    <p>Please try again later.</p>
                </div>

                <a class="btn btn-primary btn-transition rounded-pill px-6" href="/dashboard">Go To
                    Dashboard
                </a>
            </div>
        </div>
        <!-- End Content -->