<% layout('./layouts/boilerplate') %>
    <div class="content-space m-5 p-5 my-10 py-10">
        <div class="card">
            <div class="card-header">
                <h5 class="card-header-title">Pending Applications</h5>
            </div>

            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Access</th>
                            <th style="width: 5%;"></th>
                        </tr>
                    </thead>

                    <tbody>

                        <% for(let application of applications) {%>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0">

                                        </div>

                                        <div class="flex-grow-1 ms-3">
                                            <a class="d-inline-block link-dark" href="#">
                                                <h6 class="text-hover-primary mb-0">
                                                    <%=application.first_name + " " + application.last_name%>
                                                </h6>
                                            </a>
                                            <small class="d-block">
                                                <%=application.email_address%>
                                            </small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <!-- Select -->
                                    <p class="text-success">
                                        <%=application.status%>
                                    </p>
                                    <!-- End Select -->
                                </td>
                                <td>
                                    <!-- Select -->
                                    <a class='btn btn-primary' href="/admin/application/<%=application._id%>">View</a>

                                    <!-- End Select -->
                                </td>
                                <td>
                                    <a class="text-body" href="javascript:;" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Locked">
                                        <i class="bi-lock-fill"></i>
                                    </a>
                                </td>
                            </tr>
                            <% } %>


                    </tbody>
                </table>
            </div>
            <!-- End Table -->


        </div>
        <!-- End Card -->

    </div>